<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- APPARENCE -->
    <category label="32100">
        <setting label="32101" type="bool" id="FanartEnabled" default="true"/>
    </category> 
    
    <!-- ADVANCED -->
    <category label="32110">
        <setting id="debug" type="bool" label="32111" default="false"/>
    </category> 
</settings>

